<div class="alert alert-success">
    <b>Author</b>:

      Rashik Rahman
      17201012@uap-bd.edu

</div>

**[Click here to see class lecture](https://drive.google.com/file/d/1EOmrgXvSHea2q9gi3TRDCC_OjgMJ02M9/view)**

In [1]:
print('Enter no. of process :', end=' ')
num = int(input())

Enter no. of process :

 5

In [2]:
print('Enter task name :', end=' ')
task = input().split()
print('Enter task time :', end=' ')
time = list(map(int, input().split()))
print('Enter priority:', end=' ')
prior = list(map(int, input().split()))

Enter task name :

 P Q R S t

Enter task time :

 3 2 7 5 12

Enter priority:

 8 5 5 2 1

# Priority Scheduling

In [3]:
import pandas as pd
lst = [task,time,prior]
df = pd.DataFrame(lst).transpose()
df.columns = ['Task', 'Time','Priority']
df

  Task Time Priority
0    P    3        8
1    Q    2        5
2    R    7        5
3    S    5        2
4    t   12        1

In [4]:
df.sort_values(by=['Priority'],ascending=True,axis=0,inplace=True)
df

  Task Time Priority
4    t   12        1
3    S    5        2
1    Q    2        5
2    R    7        5
0    P    3        8

In [5]:
print(0,end=' ')
tmp = 0
lst2 = [0]
for tsk, tm in zip(df.Task,df.Time): 
    tmp+=tm
    lst2.append(tmp)
    print(tsk,tmp,end=' ')

0 t 12 S 17 Q 19 R 26 P 29

In [6]:
lst2 = lst2[:-1]
import numpy as np
waiting = np.sum(lst2)/len(lst2)
print('Average waiting time : {0:.2f}ms'.format(waiting))

Average waiting time : 13.25ms

# Round Robin

In [6]:
df.sort_values(by=['Task'],ascending=True,axis=0,inplace=True)
df

  Task Time Priority
0    P    3        8
1    Q    2        5
2    R    7        5
3    S    5        2
4    t   12        1

In [7]:
df.drop('Priority',axis=1,inplace=True)
df

  Task Time
0    P    3
1    Q    2
2    R    7
3    S    5
4    t   12

In [8]:
mdf = df.copy()

In [9]:
mdf['Time2'] = df.Time.copy()
mdf

  Task Time Time2
0    P    3     3
1    Q    2     2
2    R    7     7
3    S    5     5
4    t   12    12

In [10]:
tmp = 0
lst2 = [0]
threshold = int(input('Give quantum value :'))

Give quantum value : 3

In [11]:
while (mdf['Time']).any() > 0:
    for index, row in mdf.iterrows():
        if row.Time>0:
            lst2.append(row.Task)
            if row.Time > threshold: 
                tmp += threshold
                lst2.append(tmp)
                mdf['Time'][index] = row.Time - threshold
            else :
                tmp += row.Time
                lst2.append(tmp)
                mdf['Time'][index] = 0

In [12]:
print('GANTT chart {}'.format(str(lst2)))

GANTT chart [0, 'P', 3, 'Q', 5, 'R', 8, 'S', 11, 't', 14, 'R', 17, 'S', 19, 't', 22, 'R', 23, 't', 26, 't', 29]

In [16]:
import numpy as np
lst3 = lst2[::-1]
print(lst3)
lst4 =[]
for proc in mdf.Task:
    print(proc,lst3[lst3.index(proc)+1],lst3.count(proc)-1)
    if (lst3.count(proc)-1)>0:
        val = lst3[lst3.index(proc)+1] - (lst3.count(proc)-1)*threshold
        lst4.append(val)
#         print(val)
    else :
        val = lst3[lst3.index(proc)+1] 
        lst4.append(val)
        
mdf['wait time'] = lst4

print('Average wait time is {0:.2f}ms'.format(mdf['wait time'].mean()))

[29, 't', 26, 't', 23, 'R', 22, 't', 19, 'S', 17, 'R', 14, 't', 11, 'S', 8, 'R', 5, 'Q', 3, 'P', 0]
P 0 0
Q 3 0
R 22 2
S 17 1
t 26 3
Average wait time is 10.00ms

In [14]:
mdf

  Task Time Time2  wait time
0    P    0     3          0
1    Q    0     2          3
2    R    0     7         16
3    S    0     5         14
4    t    0    12         17