<div class="alert alert-success">
    <b>Author</b>:

      Rashik Rahman
      17201012@uap-bd.edu

</div>

**[Click here to see class lecture](https://drive.google.com/file/d/1nGkogYM5YgqLRk1FbAi9CDnSFwOe-aRh/view)**

# First Come First Serve

In [1]:
print('Enter no. of process :', end=' ')
num = int(input())

Enter no. of process :

 5

In [2]:
print('Enter task name :', end=' ')
task = input().split()
print('Enter task time :', end=' ')
time = list(map(int, input().split()))

Enter task name :

 P Q R S t

Enter task time :

 3 2 7 5 12

In [3]:
task

['P', 'Q', 'R', 'S', 't']

In [4]:
time

[3, 2, 7, 5, 12]

In [5]:
import pandas as pd
lst = [task,time]
df = pd.DataFrame(lst).transpose()
df.columns = ['Task', 'Time']
df

  Task Time
0    P    3
1    Q    2
2    R    7
3    S    5
4    t   12

In [6]:
print(0,end=' ')
tmp = 0
lst2 = [0]
for tsk, tm in zip(df.Task,df.Time): 
    tmp+=tm
    lst2.append(tmp)
    print(tsk,tmp,end=' ')

0 P 3 Q 5 R 12 S 17 t 29

In [7]:
lst2 = lst2[:-1]
import numpy as np
waiting = np.sum(lst2)/len(lst2)
print('Average waiting time : {0:.2f}ms'.format(waiting))

Average waiting time : 7.40ms

# Shortest Job First

In [8]:
df.sort_values(by=['Time'],ascending=True,axis=0,inplace=True)
df

  Task Time
1    Q    2
0    P    3
3    S    5
2    R    7
4    t   12

In [9]:
print(0,end=' ')
tmp = 0
lst2 = [0]
for tsk, tm in zip(df.Task,df.Time): 
    tmp+=tm
    lst2.append(tmp)
    print(tsk,tmp,end=' ')

0 Q 2 P 5 S 10 R 17 t 29

In [10]:
lst2 = lst2[:-1]
import numpy as np
waiting = np.sum(lst2)/len(lst2)
print('Average waiting time : {0:.2f}ms'.format(waiting))

Average waiting time : 6.80ms