# Load & Prep Data

In [1]:
from sklearn.datasets import load_boston
import pandas as pd 
import numpy as np

boston = load_boston()

In [2]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [3]:
boston.data[0]

array([6.320e-03, 1.800e+01, 2.310e+00, 0.000e+00, 5.380e-01, 6.575e+00,
       6.520e+01, 4.090e+00, 1.000e+00, 2.960e+02, 1.530e+01, 3.969e+02,
       4.980e+00])

In [4]:
boston.target[0]

24.0

In [5]:
X = boston.data
y = boston.target

In [6]:
X.shape

(506, 13)

In [7]:
df = pd.DataFrame(X)
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [8]:
df = pd.concat((df,pd.DataFrame(y,columns=['y'])),axis=1)
df.columns=['0','1','2','3','4','5','6','7','8','9','10','11','12','y']
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,y
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

# Preparing Hypothesis parameters and coefficients

In [9]:
x1 = df['0']
x2 = df['1']
x3 = df['2']
x4 = df['3']
x5 = df['4']
x6 = df['5']
x7 = df['6']
x8 = df['7']
x9 = df['8']
x10 = df['9']
x11 = df['10']
x12 = df['11']
x13 = df['12']
y = df['y']

In [10]:
df['diff']=np.NaN
df['yhat']=np.NaN

```ruby
thetas=[38.091694926302125,
 -0.11944344700245635,
 0.044779951066510684,
 0.005485261681774737,
 2.3408036062420767,
 -16.1236043154296,
 3.708709012219163,
 -0.0031210817807345867,
 -1.3863973702786825,
 0.24417832698880473,
 -0.010989636563079976,
 -1.0459211887459754,
 0.008110106932705016,
 -0.4927927245047084]
 ```

In [11]:
thetas=[38.091694926302125,
 df['0'].mean(),df['1'].mean(),df['2'].mean(),df['3'].mean(),df['4'].mean(),df['5'].mean(),df['6'].mean(),df['7'].mean(),
       df['8'].mean(),df['9'].mean(),df['10'].mean(),df['11'].mean(),df['12'].mean()]

In [12]:
len(thetas)

14

# Linear Regression with Gradient Decent optimizer

![Imgur](https://i.imgur.com/GI8ZMlB.png)

![Imgur](https://i.imgur.com/KZAGNVR.png)

![Imgur](https://i.imgur.com/OcehM0J.png)

In [13]:
epoch = int(input('Enter epoch no. :'))

Enter epoch no. : 10

In [14]:
for step in range(epoch):
    t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13=(thetas[0],thetas[1],thetas[2],thetas[3],thetas[4],thetas[5],thetas[6],thetas[7],
                                                   thetas[8],thetas[9],thetas[10],thetas[11],thetas[12],thetas[13])
    
    df['yhat']=t0+t1*x1+t2*x2+t3*x3+t4*x4+t5*x5+t6*x6+t7*x7+t8*x8+t9*x9+t10*x10+t11*x11+t12*x12+t13*x13
    
    df['diff']=(df.yhat-df.y)**2
    
    m = df.shape[0]
    
    cost = (df['diff'].sum())/(2*m)
    
    print('\n\n')
    print('For step : ', step)
    print('Cost is : {}'.format(cost))
    
    step_size = 0.001
    

    thetas[0] = thetas[0] - (step_size/m)*(np.sqrt(df['diff']).sum())
    thetas[1] = thetas[1] - (step_size/m)*((np.sqrt(df['diff'])*x1).sum())
    thetas[2] = thetas[2] - (step_size/m)*((np.sqrt(df['diff'])*x2).sum())
    thetas[3] = thetas[3] - (step_size/m)*((np.sqrt(df['diff'])*x3).sum())
    thetas[4] = thetas[4] - (step_size/m)*((np.sqrt(df['diff'])*x4).sum())
    thetas[5] = thetas[5] - (step_size/m)*((np.sqrt(df['diff'])*x5).sum())
    thetas[6] = thetas[6] - (step_size/m)*((np.sqrt(df['diff'])*x6).sum())
    thetas[7] = thetas[7] - (step_size/m)*((np.sqrt(df['diff'])*x7).sum())
    thetas[8] = thetas[8] - (step_size/m)*((np.sqrt(df['diff'])*x8).sum())
    thetas[9] = thetas[9] - (step_size/m)*((np.sqrt(df['diff'])*x9).sum())
    thetas[10] = thetas[10] - (step_size/m)*((np.sqrt(df['diff'])*x10).sum())
    thetas[11] = thetas[11] - (step_size/m)*((np.sqrt(df['diff'])*x11).sum())
    thetas[12] = thetas[12] - (step_size/m)*((np.sqrt(df['diff'])*x12).sum())
    thetas[13] = thetas[13] - (step_size/m)*((np.sqrt(df['diff'])*x13).sum())
    print('Gradient Decent optimized thetas : ', thetas)

For step :  0
Cost is : 46813579833.55867
Gradient Decent optimized thetas :  [-261.4126468742346, -1322.0381743704347, -2999.0852973137758, -3593.2856007473456, -20.466706162189535, -169.63137981099354, -1864.4702557757582, -21253.07837125379, -1072.5213818903794, -3277.7630824403864, -131200.29505688787, -5566.282211131444, -106611.4959532375, -3967.7637872353657]



For step :  1
Cost is : 4557058241753943.0
Gradient Decent optimized thetas :  [-93584.50391143518, -419154.44984528824, -934143.1906248946, -1131080.3884858224, -6408.283404326809, -53269.12366230098, -584599.5056406561, -6677816.5846350165, -335417.2776824037, -1034549.8471447176, -41284194.55454732, -1746563.3412177437, -33372020.76135251, -1247950.3802593024]



For step :  2
Cost is : 4.4935994178791585e+20
Gradient Decent optimized thetas :  [-29395890.887521643, -131720747.6100252, -293147212.16903883, -355246782.858019, -2011857.5674442223, -16727457.897631215, -183552258.85879377, -2097050462.417157, -105292421.50471076, -324997834.65021545, -12966071915.289522, -548417125.3316443, -10476834875.295986, -391927356.0898716]



For step :  3
Cost is : 4.431026779066098e+25
Gradient Decent optimized thetas :  [-9230787561.784754, -41365142303.969055, -92048924496.2395, -111555638930.26862, -631748888.1978735, -5252727874.867459, -57638218436.71414, -658514586420.3922, -33062899633.098454, -102058467272.43668, -4071635193190.515, -172212155615.66415, -3289854865172.3433, -123073551473.03917]



For step :  4
Cost is : 4.3693254689837195e+30
Gradient Decent optimized thetas :  [-2898634798249.02, -12989472258958.434, -28904935877025.234, -35030556335274.64, -198380459919.04648, -1649452861579.7068, -18099443937564.613, -206785711942296.4, -10382335957373.883, -32048308269676.383, -1278569360571253.2, -54077753402355.48, -1033073205774181.4, -38647380830608.81]



For step :  5
Cost is : 4.3084833394597334e+35
Gradient Decent optimized thetas :  [-910224438451298.9, -4078933935396255.5, -9076677127016792.0, -1.1000238061149182e+16, -62295095578064.945, -517958445947662.94, -5683556972120595.0, -6.493450697168461e+16, -3260243372912218.5, -1.0063758409491384e+16, -4.0149425616811334e+17, -1.6981405724626176e+16, -3.244038932340336e+17, -1.2135987002816936e+16]



For step :  6
Cost is : 4.248488426457756e+40
Gradient Decent optimized thetas :  [-2.8582716437887466e+17, -1.2808600908813268e+18, -2.8502429982548183e+18, -3.4542764984369065e+18, -1.956180221896466e+16, -1.6264845038354602e+17, -1.7847411066347884e+18, -2.0390625997040275e+19, -1.0237761932370095e+18, -3.160204737320332e+18, -1.2607655981698818e+20, -5.332472791108591e+18, -1.018687704925477e+20, -3.810922486839466e+18]



For step :  7
Cost is : 4.1893289326282665e+45
Gradient Decent optimized thetas :  [-8.975497111147284e+19, -4.022135579215084e+20, -8.950285677722294e+20, -1.0847061659084803e+21, -6.14276461868848e+18, -5.1074596081183285e+19, -5.604414360164944e+20, -6.403030488907004e+21, -3.214844984652636e+20, -9.9236224076171e+20, -3.9590351803331086e+22, -1.674494243428411e+21, -3.1988661990028023e+22, -1.19669954630613e+21]



For step :  8
Cost is : 4.130993224898408e+50
Gradient Decent optimized thetas :  [-2.8184706862585276e+22, -1.2630243303461674e+23, -2.810553833487503e+23, -3.406176275426503e+23, -1.9289407367043285e+21, -1.6038359779731562e+22, -1.759888883265642e+23, -2.0106689928493746e+24, -1.0095202792044095e+23, -3.116199416495033e+23, -1.243209647789851e+25, -5.2582189944532015e+23, -1.004502647509121e+25, -3.757856027275215e+23]



For step :  9
Cost is : 4.0734698321839304e+55
Gradient Decent optimized thetas :  [-8.850514808365046e+24, -3.966128011804472e+25, -8.825654438780192e+25, -1.0696018132349255e+26, -6.05722764400474e+23, -5.036339083628381e+24, -5.5263738233482205e+25, -6.313869355725762e+26, -3.1700788033628557e+25, -9.785437619137079e+25, -3.90390627490361e+27, -1.6511771899193253e+26, -3.15432251970679e+27, -1.1800357044473508e+26]