<div class="alert alert-success">
    <b>Author</b>:

      Rashik Rahman
      17201012@uap-bd.edu

</div>

**[Click here to see class lecture](https://drive.google.com/file/d/17jr7Lyo1RuYaLCyq4aOdQ7uPaPNyP1nn/view)**

![Imgur](https://i.imgur.com/TwAIPZh.png)

# Inputs

## Fromat : parent, child, g(n), h(n) of child

A B 6 8

A F 3 6

B C 3 5

B D 2 7

C D 1 7

D C 1 5

C E 5 3

D E 8 3

F G 1 5

F H 7 3

G I 3 1

H I 2 1

E I 5 1

E J 5 0

I E 5 3

I J 3 0

END

In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)

## Manually taking inputs

In [1]:


df = pd.DataFrame()
while True:
    state = input('Enter parent, child, g(n), h(n)')
    if state.split()[0].lower()=='end':
        break
    df = df.append([state.split()])

Enter parent, child, g(n), h(n) A B 6 8
Enter parent, child, g(n), h(n) A F 3 6
Enter parent, child, g(n), h(n) B C 3 5
Enter parent, child, g(n), h(n) B D 2 7
Enter parent, child, g(n), h(n) C D 1 7
Enter parent, child, g(n), h(n) D C 1 5
Enter parent, child, g(n), h(n) C E 5 3
Enter parent, child, g(n), h(n) D E 8 3
Enter parent, child, g(n), h(n) F G 1 5
Enter parent, child, g(n), h(n) F H 7 3
Enter parent, child, g(n), h(n) G I 3 1
Enter parent, child, g(n), h(n) H I 2 1
Enter parent, child, g(n), h(n) E I 5 1
Enter parent, child, g(n), h(n) E J 5 0
Enter parent, child, g(n), h(n) I E 5 3
Enter parent, child, g(n), h(n) I J 3 0
Enter parent, child, g(n), h(n) END

## The following code block will take direct input from github for the given graph above. So no need to manually take inputs for this given scenario.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/RashikRahman/4.1_All_Notes/main/CSE_404_AI_Lab/input_data.csv?token=ANTI6EH2YPNIRYMRURQFRWTADROWW')
df

    0  1  2  3
0   A  B  6  8
1   A  F  3  6
2   B  C  3  5
3   B  D  2  7
4   C  D  1  7
5   D  C  1  5
6   C  E  5  3
7   D  E  8  3
8   F  G  1  5
9   F  H  7  3
10  G  I  3  1
11  H  I  2  1
12  E  I  5  1
13  E  J  5  0
14  I  E  5  3
15  I  J  3  0

In [3]:
header = input('Give Start State').upper()
goal = input('Give Goal State').upper()

Give Start State a
Give Goal State j

In [4]:
header,goal

('A', 'J')

In [5]:
df.columns = ['Parent', 'Child', 'g(n)', 'h(n)']
df

   Parent Child  g(n)  h(n)
0       A     B     6     8
1       A     F     3     6
2       B     C     3     5
3       B     D     2     7
4       C     D     1     7
5       D     C     1     5
6       C     E     5     3
7       D     E     8     3
8       F     G     1     5
9       F     H     7     3
10      G     I     3     1
11      H     I     2     1
12      E     I     5     1
13      E     J     5     0
14      I     E     5     3
15      I     J     3     0

In [6]:
df.shape

(16, 4)

In [7]:
df['g(n)'] = df['g(n)'].astype('int32') 
df['h(n)'] = df['h(n)'].astype('int32') 
path = [header]
sdf = df.copy()

In [8]:
path_cost = 0
while True:
    if header==goal:
        break
    sd = sdf[sdf.Parent==header]
    sd['cost']=sd[['g(n)','h(n)']].sum(axis=1)
    sd=sd.sort_values(by='cost',ascending=True).reset_index()
    header = sd.loc[0].Child
    path_cost+=sd.loc[0]['g(n)']#.value
    path.append(header)

In [9]:
print('Shortes path ',path)

Shortes path  ['A', 'F', 'G', 'I', 'J']

In [10]:
print('Total path cost is ',path_cost+list(sdf[sdf['Child']==goal]['h(n)'])[0])

Total path cost is  10

In [11]:
import pandas as pd

def solve(df, start, end):
    df.apply(pd.to_numeric, errors='ignore')
    total_cost = 0 
    shortest_path = [start]
    for _ in iter(int, 1):
        if start==end:
            break
        df2 = df[df.Current==start]
        df2['Fn'] = df2.Gn+df2.Hn
        df2=df2.sort_values(by='Fn',ascending=True).reset_index()
        start = df2.iloc[:1].Next.values[0]
        total_cost+=df2.iloc[:1].Gn.values[0]
        shortest_path.append(start)
    print('The shortest path is {} and the cost of it is  {}'.format(shortest_path, total_cost))




if __name__ == '__main__':
    path = './graph_inputs.txt' 
    df = pd.read_csv(path, sep=" ", header=None)
    df.columns = ['Current','Next','Gn','Hn']
    start, end = 'A','J'
    print(df)
    pd.set_option('mode.chained_assignment', None)  #switching off the warnings.
    solve(df,start,end)

   Current Next  Gn  Hn
0        A    B   6   8
1        A    F   3   6
2        B    C   3   5
3        B    D   2   7
4        C    D   1   7
5        D    C   1   5
6        C    E   5   3
7        D    E   8   3
8        F    G   1   5
9        F    H   7   3
10       G    I   3   1
11       H    I   2   1
12       E    I   5   1
13       E    J   5   0
14       I    E   5   3
15       I    J   3   0
The shortest path is ['A', 'F', 'G', 'I', 'J'] and the cost of it is  10