<div class="alert alert-success">
    <b>Author</b>:

      Rashik Rahman
      17201012@uap-bd.edu

</div>

![Imgur](https://i.imgur.com/Xco9gKi.jpg)


```ruby

Download the zip file
Unzip and move the folder in a certain directory
Open Anaconda powershell/cmd and type following instructions
cd 'path to the ipynb file in unziped folder'
jupyter lab
```

In [2]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
df = pd.read_csv('input.csv')
df

    0  1  2  3
0   A  B  6  3
1   A  F  3  2
2   B  C  3  3
3   B  D  2  5
4   C  D  1  5
5   D  C  1  3
6   C  E  5  6
7   D  E  8  6
8   F  G  1  5
9   F  H  7  3
10  G  I  3  1
11  H  I  2  1
12  E  I  5  1
13  E  J  5  0
14  I  E  5  6
15  I  J  3  0

In [3]:
header = input('Give Start State').upper()
goal = input('Give Goal State').upper()

Give Start State a
Give Goal State j

In [4]:
header,goal

('A', 'J')

In [5]:
df.columns = ['Parent', 'Child', 'g(n)', 'h(n)']
df

   Parent Child  g(n)  h(n)
0       A     B     6     3
1       A     F     3     2
2       B     C     3     3
3       B     D     2     5
4       C     D     1     5
5       D     C     1     3
6       C     E     5     6
7       D     E     8     6
8       F     G     1     5
9       F     H     7     3
10      G     I     3     1
11      H     I     2     1
12      E     I     5     1
13      E     J     5     0
14      I     E     5     6
15      I     J     3     0

In [6]:
df.shape

(16, 4)

In [7]:
df['g(n)'] = df['g(n)'].astype('int32') 
df['h(n)'] = df['h(n)'].astype('int32') 
path = [header]
sdf = df.copy()

In [8]:
path_cost = 0
while True:
    if header==goal:
        break
    sd = sdf[sdf.Parent==header]
    sd['cost']=sd[['g(n)','h(n)']].sum(axis=1)
    
    sd=sd.sort_values(by='cost',ascending=True).reset_index(drop=True)
    print(sd)
    header = sd.loc[0].Child
    path_cost+=sd.loc[0]['g(n)']#.value
    path.append(header)

  Parent Child  g(n)  h(n)  cost
0      A     F     3     2     5
1      A     B     6     3     9
  Parent Child  g(n)  h(n)  cost
0      F     G     1     5     6
1      F     H     7     3    10
  Parent Child  g(n)  h(n)  cost
0      G     I     3     1     4
  Parent Child  g(n)  h(n)  cost
0      I     J     3     0     3
1      I     E     5     6    11

In [9]:
print('Shortes path ',path)

Shortes path  ['A', 'F', 'G', 'I', 'J']

In [10]:
print('Total path cost is ',path_cost+list(sdf[sdf['Child']==goal]['h(n)'])[0])

Total path cost is  10