<div class="alert alert-success">
    <b>Author</b>:

      Rashik Rahman
      17201012@uap-bd.edu

</div>

**[Click here to see class lecture]()**

In [1]:
print('Enter no. of process :', end=' ')
num = int(input())

Enter no. of process :

 4

In [1]:
print('Enter task name :', end=' ')
task = input().split()
print('Enter task time :', end=' ')
time = list(map(int, input().split()))
print('Enter priority:', end=' ')
prior = list(map(int, input().split()))

Enter task name :

 p1 p2 p3 p4

Enter task time :

 21 3 6 2

Enter priority:

 2 1 4 3

# Priority Scheduling

In [2]:
import pandas as pd
lst = [task,time,prior]
df = pd.DataFrame(lst).transpose()
df.columns = ['Task', 'Time','Priority']
df

  Task Time Priority
0   p1   21        2
1   p2    3        1
2   p3    6        4
3   p4    2        3

In [3]:
df.sort_values(by=['Priority'],ascending=True,axis=0,inplace=True)
df

  Task Time Priority
1   p2    3        1
0   p1   21        2
3   p4    2        3
2   p3    6        4

In [4]:
print(0,end=' ')
tmp = 0
lst2 = [0]
for tsk, tm in zip(df.Task,df.Time): 
    tmp+=tm
    lst2.append(tmp)
    print(tsk,tmp,end=' ')

0 p2 3 p1 24 p4 26 p3 32

In [5]:
lst2 = lst2[:-1]
import numpy as np
waiting = np.sum(lst2)/len(lst2)
print('Average waiting time : {0:.2f}ms'.format(waiting))

Average waiting time : 13.25ms

# Round Robin

In [6]:
df.sort_values(by=['Task'],ascending=True,axis=0,inplace=True)
df

  Task Time Priority
0   p1   21        2
1   p2    3        1
2   p3    6        4
3   p4    2        3

In [7]:
df.drop('Priority',axis=1,inplace=True)
df

  Task Time
0   p1   21
1   p2    3
2   p3    6
3   p4    2

In [20]:
mdf = df.copy()

In [21]:
mdf['Time2'] = df.Time.copy()
mdf

  Task Time Time2
0   p1   21    21
1   p2    3     3
2   p3    6     6
3   p4    2     2

In [22]:
tmp = 0
lst2 = [0]
threshold = int(input('Give quantum value :'))

In [23]:
while (mdf['Time']).any() > 0:
    for index, row in mdf.iterrows():
        if row.Time>0:
            lst2.append(row.Task)
            if row.Time > threshold: 
                tmp += threshold
                lst2.append(tmp)
                mdf['Time'][index] = row.Time - threshold
            else :
                tmp += row.Time
                lst2.append(tmp)
                mdf['Time'][index] = 0

In [24]:
print('GANTT chart {}'.format(str(lst2)))

GANTT chart [0, 'p1', 5, 'p2', 8, 'p3', 13, 'p4', 15, 'p1', 20, 'p3', 21, 'p1', 26, 'p1', 31, 'p1', 32]

In [25]:
import numpy as np
lst3 = lst2[::-1]
print(lst3)
lst4 =[]
for proc in mdf.Task:
    print(proc,lst3[lst3.index(proc)+1],lst3.count(proc)-1)
    if (lst3.count(proc)-1)>0:
        val = lst3[lst3.index(proc)+1] - (lst3.count(proc)-1)*threshold
        lst4.append(val)
    else :
        val = lst3[lst3.index(proc)+1] 
        lst4.append(val)
        
mdf['wait time'] = lst4

print('Average wait time is {0:.2f}ms'.format(mdf['wait time'].mean()))

[32, 'p1', 31, 'p1', 26, 'p1', 21, 'p3', 20, 'p1', 15, 'p4', 13, 'p3', 8, 'p2', 5, 'p1', 0]
p1 31 4
p2 5 0
p3 20 1
p4 13 0
Average wait time is 11.00ms

In [26]:
mdf

  Task Time Time2  wait time
0   p1    0    21         11
1   p2    0     3          5
2   p3    0     6         15
3   p4    0     2         13