In [1]:
from sklearn.datasets import load_diabetes
import pandas as pd
import numpy as np

db = load_diabetes()

In [2]:
db.data[0]

array([ 0.03807591,  0.05068012,  0.06169621,  0.02187235, -0.0442235 ,
       -0.03482076, -0.04340085, -0.00259226,  0.01990842, -0.01764613])

In [3]:
db.target[0]

151.0

In [4]:
X = db.data
y = db.target

In [5]:
X.shape

(442, 10)

In [6]:
df = pd.DataFrame(X)
df = pd.concat((df,pd.DataFrame(y,columns=['y'])),axis=1)
df.head()

,0,1,2,3,4,5,6,7,8,9,y
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [7]:
df.columns=['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10','y']
df.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [8]:
df.shape

(442, 11)

In [9]:
df.describe()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,442.000000
mean,-3.634285e-16,1.308343e-16,-8.045349e-16,1.281655e-16,-8.835316e-17,1.327024e-16,-4.574646e-16,3.777301e-16,-3.830854e-16,-3.412882e-16,152.133484
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,77.093005
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01,25.000000
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02,87.000000
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03,140.500000
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02,211.500000
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01,346.000000

In [10]:
def LR(x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y,t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10):
    hat =[]
    ls =[]
    for a,b,c,d,e,f,g,h,i,j in zip(x1,x2,x3,x4,x5,x6,x7,x8,x9,x10):
        hat.append(t0 + a*t1 + b*t2 + c*t3 + d*t4 + e*t5 + f*t6 + g*t7 + h*t8 + i*t9 + j*t10)
        
    for i in range(len(y)):
        ls.append((y[i]-hat[i])**2)

    return hat,ls

In [11]:
x1,x2,x3,x4,x5,x6,x7,x8,x9,x10 = list(df.x1),list(df.x2),list(df.x3),list(df.x4),list(df.x5),list(df.x6),list(df.x7),list(df.x8),list(df.x9),list(df.x10)

In [12]:
t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10 = 1.308343,3.634285,1.308343,8.04534,1.28165,8.8353,1.3270,4.57464,3.7773,3.830,3.4128

In [13]:
for i in range(10):
    hat,dist = LR(x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y,t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10)
    df['prediction'] = hat
    df['distance_sqrd'] = dist
    
    m = df.shape[0]
    cost = (df['distance_sqrd'].sum())/(2*m)
    df['dist'] = np.sqrt(df['distance_sqrd'])
    print('For step : ',i)
    print('Cost is : ',cost)
    

    
    step_size = 0.001

    t0 = t0 - (step_size/m)*(df['dist'].sum())
    t1 = t1 - (step_size/m)*((df['dist']*x1).sum())
    t2 = t2 - (step_size/m)*((df['dist']*x2).sum())
    t3 = t3 - (step_size/m)*((df['dist']*x3).sum())
    t4 = t4 - (step_size/m)*((df['dist']*x4).sum())
    t5 = t5 - (step_size/m)*((df['dist']*x5).sum())
    t6 = t6 - (step_size/m)*((df['dist']*x6).sum())
    t7 = t7 - (step_size/m)*((df['dist']*x7).sum())
    t8 = t8 - (step_size/m)*((df['dist']*x8).sum())
    t9 = t9 - (step_size/m)*((df['dist']*x9).sum())
    t10 = t10 - (step_size/m)*((df['dist']*x10).sum())

    print('After gradient decent optimization new thetas value : ',t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10)
    print('\n\n')

For step :  0
Cost is :  14297.801745172164
After gradient decent optimization new thetas value :  1.157517858837104 3.633621377834653 1.3081949193266555 8.043225471965096 1.2800586857320366 8.834565728621984 1.326399528944923 4.57607600643226 3.7757565771503665 3.827963888399653 3.4114302111095296



For step :  1
Cost is :  14320.58017445942
After gradient decent optimization new thetas value :  1.0065418925330452 3.63295774814826 1.3080468327886214 8.041110930748907 1.2784673602298668 8.833831446784334 1.3257990474378896 4.577512024196033 3.774213139148659 3.8259277620035554 3.410060409909639



For step :  2
Cost is :  14343.404146005332
After gradient decent optimization new thetas value :  0.8554149502626822 3.6322941109407503 1.3078987403858366 8.038996376351326 1.2768760234933967 8.833097154486945 1.32519855547879 4.578948053291418 3.772669685994736 3.8238916208115805 3.4086905964002203



For step :  3
Cost is :  14366.273750939356
After gradient decent optimization new thetas value :  0.7041368810500489 3.6316304662120524 1.3077506421182399 8.036881808772247 1.2752846755225327 8.832362851729709 1.324598053067515 4.580384093718511 3.7711262176884577 3.8218554648236003 3.4073207705811637



For step :  4
Cost is :  14389.189080573302
After gradient decent optimization new thetas value :  0.552707533768203 3.6309668139620954 1.3076025379857703 8.034767228011564 1.273693316317181 8.83162853851252 1.3239975402039552 4.581820145477409 3.769582734229683 3.8198192940394877 3.405950932452361



For step :  5
Cost is :  14412.150226401687
After gradient decent optimization new thetas value :  0.4011267571390753 3.630303154190808 1.3074544279883666 8.032652634069173 1.2721019458772482 8.83089421483527 1.3233970168880012 4.58325620856821 3.768039235618271 3.8177831084591154 3.4045810820137032



For step :  6
Cost is :  14435.157280102116
After gradient decent optimization new thetas value :  0.24939439973331842 3.6296394868981197 1.3073063121259678 8.030538026944967 1.2705105642026402 8.830159880697854 1.3227964831195433 4.584692282991011 3.7664957218540813 3.8157469080823554 3.403211219265082



For step :  7
Cost is :  14458.21033353563
After gradient decent optimization new thetas value :  0.09751030997015578 3.628975812083959 1.3071581903985126 8.028423406638842 1.2689191712932635 8.829425536100164 1.3221959388984725 4.586128368745908 3.764952192936973 3.8137106929090807 3.4018413442063884



For step :  8
Cost is :  14481.309478747098
After gradient decent optimization new thetas value :  -0.054525663882770026 3.628312129748254 1.30701006280594 8.02630877315069 1.2673277671490244 8.82869118104209 1.3215953842246793 4.587564465832999 3.7634086488668057 3.811674462939164 3.4004714568375136



For step :  9
Cost is :  14504.454807965561
After gradient decent optimization new thetas value :  -0.20671367370954874 3.627648439890935 1.306861929348189 8.024194126480408 1.265736351769829 8.82795681552353 1.320994819098054 4.589000574252381 3.7618650896434382 3.8096382181724775 3.399101557158349

In [14]:
df

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y,prediction,distance_sqrd,dist
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0,0.043342,22787.912574,150.956658
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0,-1.047381,5783.204189,76.047381
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0,-0.012428,19884.504722,141.012428
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0,-0.416434,42607.744342,206.416434
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0,-0.555251,18375.225967,135.555251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0,0.344985,31561.304498,177.655015
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0,0.398339,10733.304164,103.601661
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0,-0.573074,17575.620065,132.573074
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0,0.251434,48289.432298,219.748566
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0,0.451962,3197.680589,56.548038