<div class="alert alert-success">
    <b>Author</b>:

      Rashik Rahman
      17201012@uap-bd.edu

</div>

**[Click here to see class lecture](https://drive.google.com/file/d/17jr7Lyo1RuYaLCyq4aOdQ7uPaPNyP1nn/view)**

![Imgur](https://i.imgur.com/TwAIPZh.png)

![Imgur1](https://i.imgur.com/CKwZuyP.jpg)

# Inputs

## Fromat : parent, child, g(n), h(n) of child

A B 6 8

A F 3 6

B C 3 5

B D 2 7

C D 1 7

D C 1 5

C E 5 3

D E 8 3

F G 1 5

F H 7 3

G I 3 1

H I 2 1

E I 5 1

E J 5 0

I E 5 3

I J 3 0

END

## Manually taking inputs

In [25]:
import pandas as pd

df = pd.DataFrame()
while True:
    state = input('Enter parent, child, g(n), h(n)')
    if state.split()[0].lower()=='end':
        break
    df = df.append([state.split()])

Enter parent, child, g(n), h(n) A B 6 8
Enter parent, child, g(n), h(n) A F 3 6
Enter parent, child, g(n), h(n) B C 3 5
Enter parent, child, g(n), h(n) B D 2 7
Enter parent, child, g(n), h(n) C D 1 7
Enter parent, child, g(n), h(n) D C 1 5
Enter parent, child, g(n), h(n) C E 5 3
Enter parent, child, g(n), h(n) D E 8 3
Enter parent, child, g(n), h(n) F G 1 5
Enter parent, child, g(n), h(n) F H 7 3
Enter parent, child, g(n), h(n) G I 3 1
Enter parent, child, g(n), h(n) H I 2 1
Enter parent, child, g(n), h(n) E I 5 1
Enter parent, child, g(n), h(n) E J 5 0
Enter parent, child, g(n), h(n) I E 5 3
Enter parent, child, g(n), h(n) I J 3 0
Enter parent, child, g(n), h(n) END

## The following code block will take direct input from github for the given graph above. So no need to manually take inputs for this given scenario.

In [15]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
df = pd.read_csv('input_data.csv')
df

    0  1  2  3
0   A  B  6  8
1   A  F  3  6
2   B  C  3  5
3   B  D  2  7
4   C  D  1  7
5   D  C  1  5
6   C  E  5  3
7   D  E  8  3
8   F  G  1  5
9   F  H  7  3
10  G  I  3  1
11  H  I  2  1
12  E  I  5  1
13  E  J  5  0
14  I  E  5  3
15  I  J  3  0

In [16]:
header = input('Give Start State').upper()
goal = input('Give Goal State').upper()

Give Start State a
Give Goal State j

In [17]:
header,goal

('A', 'J')

In [18]:
df.columns = ['Parent', 'Child', 'g(n)', 'h(n)']
df

   Parent Child  g(n)  h(n)
0       A     B     6     8
1       A     F     3     6
2       B     C     3     5
3       B     D     2     7
4       C     D     1     7
5       D     C     1     5
6       C     E     5     3
7       D     E     8     3
8       F     G     1     5
9       F     H     7     3
10      G     I     3     1
11      H     I     2     1
12      E     I     5     1
13      E     J     5     0
14      I     E     5     3
15      I     J     3     0

In [19]:
df.shape

(16, 4)

In [20]:
df['g(n)'] = df['g(n)'].astype('int32') 
df['h(n)'] = df['h(n)'].astype('int32') 
path = [header]
sdf = df.copy()

In [21]:
path_cost = 0
while True:
    if header==goal:
        break
    sd = sdf[sdf.Parent==header]
    sd['cost']=sd[['g(n)','h(n)']].sum(axis=1)
    
    sd=sd.sort_values(by='cost',ascending=True).reset_index(drop=True)
    print(sd)
    header = sd.loc[0].Child
    path_cost+=sd.loc[0]['g(n)']#.value
    path.append(header)

  Parent Child  g(n)  h(n)  cost
0      A     F     3     6     9
1      A     B     6     8    14
  Parent Child  g(n)  h(n)  cost
0      F     G     1     5     6
1      F     H     7     3    10
  Parent Child  g(n)  h(n)  cost
0      G     I     3     1     4
  Parent Child  g(n)  h(n)  cost
0      I     J     3     0     3
1      I     E     5     3     8

In [33]:
print('Shortes path ',path)

Shortes path  ['A', 'F', 'G', 'I', 'J']

In [21]:
print('Total path cost is ',path_cost+list(sdf[sdf['Child']==goal]['h(n)'])[0])

Total path cost is  10