# Load & Prep Data

In [1]:
from sklearn.datasets import load_boston
boston = load_boston()

In [2]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [3]:
boston.data[0]

array([6.320e-03, 1.800e+01, 2.310e+00, 0.000e+00, 5.380e-01, 6.575e+00,
       6.520e+01, 4.090e+00, 1.000e+00, 2.960e+02, 1.530e+01, 3.969e+02,
       4.980e+00])

In [4]:
boston.target[0]

24.0

In [5]:
X, y = boston.data, boston.target
X.shape

(506, 13)

# Making Regression model

In [6]:
# Sperate train and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [7]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)

0.5892223849182514

# Extracting coef values

In [8]:
model.coef_

array([-1.19443447e-01,  4.47799511e-02,  5.48526168e-03,  2.34080361e+00,
       -1.61236043e+01,  3.70870901e+00, -3.12108178e-03, -1.38639737e+00,
        2.44178327e-01, -1.09896366e-02, -1.04592119e+00,  8.11010693e-03,
       -4.92792725e-01])

In [9]:
model.intercept_

38.091694926302125

In [10]:
thetas = [model.intercept_]
thetas.extend(model.coef_) 
thetas

[38.091694926302125,
 -0.11944344700245635,
 0.044779951066510684,
 0.005485261681774737,
 2.3408036062420767,
 -16.1236043154296,
 3.708709012219163,
 -0.0031210817807345867,
 -1.3863973702786825,
 0.24417832698880473,
 -0.010989636563079976,
 -1.0459211887459754,
 0.008110106932705016,
 -0.4927927245047084]

# Gradient Decent

In [11]:
yhat = model.predict(X_test)

In [12]:
import pandas as pd 
import numpy as np

df = pd.DataFrame([y_test,yhat]).transpose()
df.columns = ['y','yhat']
df.head()

      y       yhat
0  22.6  24.889638
1  50.0  23.721411
2  23.0  29.364999
3   8.3  12.122386
4  21.2  21.443823

In [13]:
df['diff'] = (df.y-df.yhat)**2
df.head()

      y       yhat        diff
0  22.6  24.889638    5.242441
1  50.0  23.721411  690.564248
2  23.0  29.364999   40.513208
3   8.3  12.122386   14.610636
4  21.2  21.443823    0.059449

In [14]:
cost = (df['diff'].sum())/(2*df['diff'].shape[0])
cost

16.724489998838237

In [15]:
step_size = 0.01
j = 0
for i in range(len(thetas)):
    thetas[i]=thetas[i] - (step_size/df['diff'].shape[0])*(np.sqrt(df['diff']).sum())
    print(thetas[i])

38.05326583409768
-0.1578725392069013
0.006350858862065718
-0.03294383052267023
2.302374514037632
-16.162033407634045
3.670279920014718
-0.04155017398517955
-1.4248264624831275
0.20574923478435977
-0.04941872876752494
-1.0843502809504204
-0.03031898527173995
-0.5312218167091534